@import url(https://fonts.googleapis.com/css?family=Vollkorn:regular,500,600,700,800,900,italic,500italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 340px;
}

body {
  color: #4D533C;
  line-height: 1;
  font-family: "Vollkorn";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Vollkorn";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 92.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  border-radius: 20px;
  background: rgba(212, 206, 206, 0.8117647059);
  -webkit-box-shadow: 19px 19px 38px #bdb7b7, -19px -19px 38px #ebe5e5, 1px 1px 2px #e90e0e;
          box-shadow: 19px 19px 38px #bdb7b7, -19px -19px 38px #ebe5e5, 1px 1px 2px #e90e0e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.625rem 1.875rem;
  overflow: hidden;
  max-height: 3.125rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-weight: 700;
}

.title_litl {
  font-size: 1.25rem;
  text-align: center;
}

p {
  line-height: 1.55;
}

.header {
  background: rgba(212, 206, 206, 0.8117647059);
  border-bottom: 1px solid #e90e0e;
  position: absolute;
  width: 100%;
  z-index: 150;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
  z-index: 150;
  background: rgba(212, 206, 206, 0.8980392157);
}

.header._header-show {
  -webkit-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
  top: 0;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__menu {
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  min-width: 10rem;
  position: relative;
  z-index: 57;
  margin-top: -4.375rem;
}

.header__logo img {
  width: 100%;
  position: absolute;
  -webkit-box-reflect: below -25px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.menu__item {
  position: relative;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.menu__item::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #e90e0e;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.menu__item:hover::before {
  width: 100%;
}

.icon-menu {
  display: none;
}

.decor {
  position: absolute;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.decor_swet1 {
  height: 1.25rem;
  border-radius: 50%;
  background: #f803af;
  margin: -5px;
  -webkit-animation: violet 0.7s ease infinite;
          animation: violet 0.7s ease infinite;
}

.decor_swet2 {
  border-radius: 50%;
  background: #f80303;
  margin: -7px;
  -webkit-animation: red 1s ease infinite;
          animation: red 1s ease infinite;
}

.decor_swet3 {
  border-radius: 50%;
  background: #3803f8;
  -webkit-animation: blue 0.7s ease infinite;
          animation: blue 0.7s ease infinite;
}

.decor_swet4 {
  border-radius: 50%;
  background: #e8f803;
  -webkit-animation: yellow 0.8s ease infinite;
          animation: yellow 0.8s ease infinite;
  margin: -5px;
}

.decor_swet5 {
  border-radius: 50%;
  background: #20f803;
  margin: -5px;
  -webkit-animation: gren 1.1s ease infinite;
          animation: gren 1.1s ease infinite;
}

@-webkit-keyframes gren {
  0% {
    -webkit-box-shadow: -1px -1px 1p #20f803;
            box-shadow: -1px -1px 1p #20f803;
  }

  100% {
    -webkit-box-shadow: 1px 1px 32px #20f803;
            box-shadow: 1px 1px 32px #20f803;
  }
}

@keyframes gren {
  0% {
    -webkit-box-shadow: -1px -1px 1p #20f803;
            box-shadow: -1px -1px 1p #20f803;
  }

  100% {
    -webkit-box-shadow: 1px 1px 32px #20f803;
            box-shadow: 1px 1px 32px #20f803;
  }
}

@-webkit-keyframes red {
  0% {
    -webkit-box-shadow: -1px -1px 1p #f80303;
            box-shadow: -1px -1px 1p #f80303;
  }

  100% {
    -webkit-box-shadow: 1px 1px 22px #f80303;
            box-shadow: 1px 1px 22px #f80303;
  }
}

@keyframes red {
  0% {
    -webkit-box-shadow: -1px -1px 1p #f80303;
            box-shadow: -1px -1px 1p #f80303;
  }

  100% {
    -webkit-box-shadow: 1px 1px 22px #f80303;
            box-shadow: 1px 1px 22px #f80303;
  }
}

@-webkit-keyframes yellow {
  0% {
    -webkit-box-shadow: -1px -1px 1p #e8f803;
            box-shadow: -1px -1px 1p #e8f803;
  }

  100% {
    -webkit-box-shadow: 1px 1px 30px #e8f803;
            box-shadow: 1px 1px 30px #e8f803;
  }
}

@keyframes yellow {
  0% {
    -webkit-box-shadow: -1px -1px 1p #e8f803;
            box-shadow: -1px -1px 1p #e8f803;
  }

  100% {
    -webkit-box-shadow: 1px 1px 30px #e8f803;
            box-shadow: 1px 1px 30px #e8f803;
  }
}

@-webkit-keyframes violet {
  0% {
    -webkit-box-shadow: -1px -1px 1p #f803af;
            box-shadow: -1px -1px 1p #f803af;
  }

  100% {
    -webkit-box-shadow: 1px 1px 25px #f803af;
            box-shadow: 1px 1px 25px #f803af;
  }
}

@keyframes violet {
  0% {
    -webkit-box-shadow: -1px -1px 1p #f803af;
            box-shadow: -1px -1px 1p #f803af;
  }

  100% {
    -webkit-box-shadow: 1px 1px 25px #f803af;
            box-shadow: 1px 1px 25px #f803af;
  }
}

@-webkit-keyframes blue {
  0% {
    -webkit-box-shadow: -1px -1px 1p #3803f8;
            box-shadow: -1px -1px 1p #3803f8;
  }

  100% {
    -webkit-box-shadow: 1px 1px 22px #3803f8;
            box-shadow: 1px 1px 22px #3803f8;
  }
}

@keyframes blue {
  0% {
    -webkit-box-shadow: -1px -1px 1p #3803f8;
            box-shadow: -1px -1px 1p #3803f8;
  }

  100% {
    -webkit-box-shadow: 1px 1px 22px #3803f8;
            box-shadow: 1px 1px 22px #3803f8;
  }
}

.footer {
  background: #000;
  padding-top: 1.875rem;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__number {
  display: block;
  color: #FFF;
}

.footer__number :hover {
  scale: 1.9;
}

.footer__gmail {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}

.footer__Security {
  color: #FFF;
  font-size: 0.625rem;
  padding-bottom: 0.3125rem;
  text-align: center;
  margin-top: 0.625rem;
}

.footer-body__social {
  padding-left: 4.0625rem;
}

.main {
  background-color: rgba(212, 206, 206, 0.8117647059);
  border-bottom: 0.005px solid #e90e0e;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__body {
  padding: 6% 0rem 10% 0rem;
}

.main__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 18.75rem;
  height: 34.375rem;
  padding-top: 2.6875rem;
  padding-left: 0.125rem;
  position: relative;
  -webkit-box-shadow: 1px 1px 2px #e90e0e;
          box-shadow: 1px 1px 2px #e90e0e;
  border-radius: 70%;
}

.main__img::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: rgba(252, 4, 4, 0.15);
  top: 264px;
  left: 80px;
  border-radius: 50%;
}

.main__img:hover::before {
  z-index: 1;
}

.main__img::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: rgba(252, 4, 4, 0.15);
  top: 259px;
  right: 86px;
  border-radius: 50%;
  z-index: -1;
}

.main__img:hover::after {
  z-index: 1;
}

.main__img img {
  width: 100%;
  position: absolute;
}

.body-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.body-main__title {
  text-align: center;
}

.body-main__my-info {
  margin-bottom: 3.125rem;
  text-indent: 20px;
}

.social-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  position: relative;
}

.social-body__item {
  background-color: #4D533C;
  border-radius: 4px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.social-body__item:nth-child(odd) :hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-background-clip: text;
          background-clip: text;
  scale: 1.5;
  border-radius: 4px;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.social-body__item:nth-child(even):hover {
  scale: 1.5;
  background-color: #4267B2;
}

.social-body__button {
  min-width: 8.125rem;
  min-height: 2.5rem;
  position: relative;
  margin-left: 2.5rem;
}

.social-body__button::before {
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  content: "";
  top: 0.625rem;
  left: -1.25rem;
  background: url(../img/gmail.svg) 0 0 no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}

.social-body__button:hover::before {
  left: 1.5rem;
  opacity: 1;
}

.social-body__button:hover span {
  left: 57px;
}

.social-body__button span {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  left: 38px;
  letter-spacing: 2px;
}

.skills__container {
  padding-left: 3.125rem;
}

.skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technologies-body {
  gap: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.technologies-body__title {
  position: relative;
  z-index: 11;
}

.technologies-body__list {
  padding: 1.25rem;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  border-radius: 20px;
  background: linear-gradient(145deg, #f3f3f3, #cccccc);
  -webkit-box-shadow: 13px 13px 27px #7b7b7b, -13px -13px 27px #ffffff;
          box-shadow: 13px 13px 27px #7b7b7b, -13px -13px 27px #ffffff;
  border-bottom: 0.005px solid #e90e0e;
  border-right: 0.005px solid #e90e0e;
}

.technologies-body__item_loading {
  position: relative;
}

.technologies-body__item_loading::after {
  content: "";
  top: -1%;
  position: absolute;
  left: 20px;
  z-index: 5;
  width: 0.9375rem;
  height: 0.9375rem;
  -webkit-animation: load 5s infinite linear;
          animation: load 5s infinite linear;
  background: url(../img/load-icon-png-7952\ \(1\).png) 0 0/100% 100% no-repeat;
}

.language-body {
  gap: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.language-body__items {
  padding: 1.25rem;
  margin-top: 2.5rem;
  border-radius: 20px;
  background: linear-gradient(145deg, #f3f3f3, #cccccc);
  -webkit-box-shadow: 13px 13px 27px #7b7b7b, -13px -13px 27px #ffffff;
          box-shadow: 13px 13px 27px #7b7b7b, -13px -13px 27px #ffffff;
  border-bottom: 0.005px solid #e90e0e;
  border-right: 0.005px solid #e90e0e;
  position: relative;
}

.language-body__item_loading {
  position: relative;
}

.language-body__item_loading::after {
  content: "";
  top: -1%;
  position: absolute;
  right: -15px;
  z-index: 5;
  width: 0.9375rem;
  height: 0.9375rem;
  -webkit-animation: load 5s infinite linear;
          animation: load 5s infinite linear;
  background: url(../img/load-icon-png-7952\ \(1\).png) 0 0/100% 100% no-repeat;
}

.characteristic-body {
  gap: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.characteristic-body__list {
  padding: 1.25rem;
  margin-top: 1.25rem;
  border-radius: 20px;
  background: linear-gradient(145deg, #f3f3f3, #cccccc);
  -webkit-box-shadow: 13px 13px 27px #7b7b7b, -13px -13px 27px #ffffff;
          box-shadow: 13px 13px 27px #7b7b7b, -13px -13px 27px #ffffff;
  border-bottom: 0.005px solid #e90e0e;
  border-right: 0.005px solid #e90e0e;
}

.way {
  padding: 0rem 1.875rem 0rem 1.875rem;
}

.way__container {
  border-bottom: 0.005px solid #e90e0e;
  border-right: 0.005px solid #e90e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(212, 206, 206, 0.8117647059);
  border-radius: 30px;
  -webkit-box-shadow: 41px 41px 82px #9f9f9f, -41px -41px 82px #ffffff;
          box-shadow: 41px 41px 82px #9f9f9f, -41px -41px 82px #ffffff;
}

.way__title {
  -webkit-box-shadow: 1px 1px 2px #e90e0e;
          box-shadow: 1px 1px 2px #e90e0e;
  border-radius: 20px;
  text-align: center;
  padding: 1.25rem;
  font-size: 1.0625rem;
  -webkit-box-shadow: 11px 11px 23px #c1c1c1, -11px -11px 23px #ffffff;
          box-shadow: 11px 11px 23px #c1c1c1, -11px -11px 23px #ffffff;
}

.box {
  position: relative;
}

.box:hover .img-box {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.img-box {
  position: relative;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 4;
}

.img-box__front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.img-box__front img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.img-box__back {
  position: relative;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.img-box__back img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.experience {
  background-color: rgba(212, 206, 206, 0.812);
  border-bottom: 0.005px solid #e90e0e;
}

.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.experience__title {
  margin-bottom: 1.875rem;
  text-align: center;
  position: relative;
}

.experience__title::before {
  content: "";
  bottom: -0.625rem;
  left: 0;
  width: 100%;
  position: absolute;
  height: 0.125rem;
  background: linear-gradient(93deg, rgba(233, 14, 14, 0.35) 15%, rgb(233, 14, 14) 50%, rgba(233, 14, 14, 0.3533788515) 85%);
}

.experience__title::after {
  content: "";
  top: -1%;
  position: absolute;
  left: 60%;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-animation: load 5s infinite linear;
          animation: load 5s infinite linear;
  background: url(../img/load-icon-png-7952\ \(1\).png) 0 0/100% 100% no-repeat;
}

.experience__wrapper {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.experience__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience__arrow {
  position: absolute;
  top: 50%;
  background: url(../img/icons/left.svg) center repeat;
  width: 2.5rem;
  height: 2.5rem;
}

.experience__arrow_right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.experience__arrow.swiper-button-disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0;
}

.experience__bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.experience__bullets .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #4D533C;
  border-bottom: 0.5px solid #e90e0e;
  border-right: 0.5px solid #e90e0e;
  cursor: pointer;
}

.experience__bullets .swiper-pagination-bullet-active {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  border-radius: 20px;
}

@-webkit-keyframes load {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes load {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

.slide-experience {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.slide-experience__img {
  width: 31.25rem;
  height: 23.125rem;
  position: relative;
}

.slide-experience__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.slide-experience__text {
  display: inline-block;
  border-radius: 20px;
  padding: 0.3125rem;
  max-width: 37.5rem;
  text-align: center;
  padding: 0rem 1.25rem 0rem 1.25rem;
  margin-bottom: 1.25rem;
}

.project {
  position: relative;
  padding: 0rem 1.875rem 0rem 1.875rem;
}

.project::before {
  content: "";
  width: 130%;
  height: 0.125rem;
  position: absolute;
  top: 400px;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(-20deg) translate(-100px, 0);
      -ms-transform: rotate(-20deg) translate(-100px, 0);
          transform: rotate(-20deg) translate(-100px, 0);
  background-color: #e90e0e;
}

.project::after {
  content: "";
  width: 130%;
  height: 0.125rem;
  position: absolute;
  top: 500px;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(-20deg) translate(-100px, 0);
      -ms-transform: rotate(-20deg) translate(-100px, 0);
          transform: rotate(-20deg) translate(-100px, 0);
  background-color: #e90e0e;
}

.project__container {
  background-color: rgba(212, 206, 206, 0.8117647059);
  border-radius: 30px;
  -webkit-box-shadow: 41px 41px 82px #9f9f9f, -41px -41px 82px #ffffff;
          box-shadow: 41px 41px 82px #9f9f9f, -41px -41px 82px #ffffff;
  border-bottom: 0.005px solid #e90e0e;
  border-right: 0.005px solid #e90e0e;
}

.project__title {
  text-align: center;
  margin-bottom: 1.875rem;
  text-transform: uppercase;
}

.my-project__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
}

.my-project__title {
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  text-transform: uppercase;
}

.my-project__title::before {
  content: "";
  width: 0;
  height: 0.0625rem;
  position: absolute;
  background: linear-gradient(93deg, rgba(233, 14, 14, 0.35) 15%, rgb(233, 14, 14) 50%, rgba(233, 14, 14, 0.3533788515) 85%);
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.my-project__title:hover {
  scale: 1.2;
}

.my-project__title._tab-active {
  scale: 1.2;
}

.my-project__title._tab-active::before {
  content: "";
  width: 100%;
}

.body-project :not(:last-child) {
  margin-bottom: 1.875rem;
}

.body-project__title {
  text-align: center;
}

.body-project__img {
  margin: 0 auto;
  max-width: 25rem;
  height: 18.75rem;
  position: relative;
}

.body-project__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
}

.body-project__describe {
  text-align: center;
  max-width: 43.75rem;
  margin: 0 auto;
}

.body-project__describe img {
  border-radius: 3%;
  height: 6.25rem;
  -webkit-transition: scale 0.5s ease;
  transition: scale 0.5s ease;
}

.body-project__describe img:hover {
  scale: 4;
  position: relative;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 92.5em) {
  .title {
    font-size: 3.75rem;
  }

  .decor_swet1 {
    height: 1.25rem;
  }

  .decor_swet1 {
    width: 1.25rem;
  }

  .decor_swet2 {
    height: 1.375rem;
  }

  .decor_swet2 {
    width: 1.375rem;
  }

  .decor_swet3 {
    height: 1.1875rem;
  }

  .decor_swet3 {
    width: 1.1875rem;
  }

  .decor_swet4 {
    height: 1.375rem;
  }

  .decor_swet4 {
    width: 1.375rem;
  }

  .decor_swet5 {
    height: 1.0625rem;
  }

  .decor_swet5 {
    width: 1.0625rem;
  }

  .main__content {
    gap: 12.5rem;
  }

  .main__content {
    padding-top: 8.125rem;
  }

  .main__content {
    padding-bottom: 5rem;
  }

  .skills {
    padding: 3.75rem;
  }

  .skills__container {
    padding-left: 3.75rem;
  }

  .skills__body {
    gap: 6.25rem;
  }

  .way {
    padding-top: 6.25rem;
  }

  .way {
    padding-bottom: 6.25rem;
  }

  .way__container {
    gap: 12.5rem;
  }

  .way__container {
    padding-top: 3.75rem;
  }

  .way__container {
    padding-bottom: 3.75rem;
  }

  .box {
    width: 37.5rem;
  }

  .box {
    height: 25rem;
  }

  .img-box__front {
    width: 37.5rem;
  }

  .img-box__front {
    height: 25rem;
  }

  .img-box__back {
    width: 37.5rem;
  }

  .img-box__back {
    height: 25rem;
  }

  .experience {
    padding-top: 6.25rem;
  }

  .experience {
    padding-bottom: 6.25rem;
  }

  .experience__arrow_left {
    left: 9.375rem;
  }

  .experience__arrow_right {
    right: 9.375rem;
  }

  .slide-experience__work {
    font-size: 2.5rem;
  }

  .project {
    padding-top: 6.25rem;
  }

  .project {
    padding-bottom: 6.25rem;
  }

  .project__container {
    padding-top: 3.75rem;
  }

  .project__container {
    padding-bottom: 3.75rem;
  }

  .project__title {
    font-size: 2.5rem;
  }

  .my-project__title {
    font-size: 1.5625rem;
  }

  .body-project__title {
    font-size: 1.5625rem;
  }
}

@media (max-width: 843px) {
  .language-body__title {
    margin-bottom: -2.1875rem;
    margin-top: 1.25rem;
    position: relative;
    z-index: 11;
  }
}

@media (max-width: 50em) {
  .main__content {
    gap: 1.875rem;
  }

  .main__content {
    padding-bottom: 1.25rem;
  }

  .skills__container {
    padding-left: 0.625rem;
  }

  .way {
    padding-top: 1.875rem;
  }

  .way {
    padding-bottom: 3.75rem;
  }

  .way__container {
    gap: 1.875rem;
  }

  .box {
    width: 21.875rem;
  }

  .box {
    height: 12.5rem;
  }

  .img-box__front {
    width: 21.875rem;
  }

  .img-box__front {
    height: 12.5rem;
  }

  .img-box__back {
    width: 21.875rem;
  }

  .img-box__back {
    height: 12.5rem;
  }

  .experience {
    padding-top: 5rem;
  }

  .experience {
    padding-bottom: 5rem;
  }

  .project {
    padding-top: 1.875rem;
  }
}

@media (max-width: 687px) {
  .characteristic-body__title {
    position: relative;
    z-index: 11;
    margin-bottom: -2.1875rem;
    margin-top: 1.875rem;
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 68.75em) {
  .skills__body {
    gap: 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .header__logo img {
    -webkit-box-reflect: below -17px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 9.375rem 0.8125rem 1.875rem 1.875rem;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: -100%;
    border-left: 1px solid #e90e0e;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    background-color: #d4cece;
    z-index: 33;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    right: 100%;
    z-index: 55;
    background-color: transparent;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #4D533C;
    text-shadow: 1px red;
    gap: 2.5rem;
  }

  .menu__item {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 55;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #4D533C;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .decor {
    width: 90%;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
  }

  .footer-body__social {
    padding-right: 5rem;
  }

  .main__img {
    overflow: hidden;
    padding-top: 0.625rem;
  }

  .body-main__my-info {
    margin-bottom: 0rem;
  }

  .social-body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .social-body__button::before {
    opacity: 1;
    left: 24px;
  }

  .social-body__button span {
    left: 57px;
  }

  .way__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .way__box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .way__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .experience__title::after {
    left: 64%;
  }

  .experience__arrow {
    display: none;
  }

  .slide-experience__img {
    width: 25rem;
    height: 20rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 21.25em) {
  .main__img {
    min-width: 5.625rem;
  }

  .main__img {
    height: 11.25rem;
  }
}

@media (max-width: 29.99875em) {
  .header__menu {
    height: 2.5rem;
  }

  .header__logo {
    min-width: 6.25rem;
    margin-top: -2.5rem;
  }

  .body-main__title {
    padding: 2.5rem 0rem 0rem 0rem;
  }

  .body-main__my-info {
    padding: 1.25rem 1.875rem 0rem 0rem;
    min-width: 100vw;
    text-indent: 0;
  }

  .box {
    width: 15.625rem;
    height: 12.5rem;
  }

  .img-box__front {
    width: 15.625rem;
    height: 12.5rem;
  }

  .img-box__back {
    width: 15.625rem;
    height: 12.5rem;
  }

  .experience__title::after {
    left: 70%;
    top: -10px;
  }

  .slide-experience__img {
    width: 18.75rem;
    height: 13.75rem;
  }

  .body-project__img {
    padding-bottom: 90%;
    height: 0;
  }
}

@media (max-width: 29.99875em) and (max-width: 21.25em) {
  .main__body {
    min-width: 12.5rem;
  }
}

@media (max-width: 21.25em) {
  .title {
    font-size: 1.5625rem;
  }

  .decor_swet1 {
    height: 0.625rem;
  }

  .decor_swet1 {
    width: 0.625rem;
  }

  .decor_swet2 {
    height: 0.5625rem;
  }

  .decor_swet2 {
    width: 0.5625rem;
  }

  .decor_swet3 {
    height: 0.4375rem;
  }

  .decor_swet3 {
    width: 0.4375rem;
  }

  .decor_swet4 {
    height: 0.625rem;
  }

  .decor_swet4 {
    width: 0.625rem;
  }

  .decor_swet5 {
    height: 0.625rem;
  }

  .decor_swet5 {
    width: 0.625rem;
  }

  .main__content {
    padding-top: 1.25rem;
  }

  .skills {
    padding: 1.875rem;
  }

  .way__container {
    padding-top: 2.5rem;
  }

  .way__container {
    padding-bottom: 2.5rem;
  }

  .experience__arrow_left {
    left: 1.875rem;
  }

  .experience__arrow_right {
    right: 1.875rem;
  }

  .slide-experience__work {
    font-size: 1.5625rem;
  }

  .project {
    padding-bottom: 2.5rem;
  }

  .project__container {
    padding-top: 2.5rem;
  }

  .project__container {
    padding-bottom: 2.5rem;
  }

  .project__title {
    font-size: 1.5625rem;
  }

  .my-project__title {
    font-size: 1.25rem;
  }

  .body-project__title {
    font-size: 1.125rem;
  }
}

@media (min-width: 21.25em) and (max-width: 92.5em) {
@supports (font-size: clamp( 1.5625rem , 0.9100877193rem  +  3.0701754386vw , 3.75rem )) {
    .title {
      font-size: clamp( 1.5625rem , 0.9100877193rem  +  3.0701754386vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.9100877193rem  +  3.0701754386vw , 3.75rem )) {
    .title {
      font-size: calc(1.5625rem + 2.1875 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (height: clamp( 0.625rem , 0.4385964912rem  +  0.8771929825vw , 1.25rem )) {
    .decor_swet1 {
      height: clamp( 0.625rem , 0.4385964912rem  +  0.8771929825vw , 1.25rem );
    }
}

@supports not (height: clamp( 0.625rem , 0.4385964912rem  +  0.8771929825vw , 1.25rem )) {
    .decor_swet1 {
      height: calc(0.625rem + 0.625 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (width: clamp( 0.625rem , 0.4385964912rem  +  0.8771929825vw , 1.25rem )) {
    .decor_swet1 {
      width: clamp( 0.625rem , 0.4385964912rem  +  0.8771929825vw , 1.25rem );
    }
}

@supports not (width: clamp( 0.625rem , 0.4385964912rem  +  0.8771929825vw , 1.25rem )) {
    .decor_swet1 {
      width: calc(0.625rem + 0.625 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (height: clamp( 0.5625rem , 0.3201754386rem  +  1.1403508772vw , 1.375rem )) {
    .decor_swet2 {
      height: clamp( 0.5625rem , 0.3201754386rem  +  1.1403508772vw , 1.375rem );
    }
}

@supports not (height: clamp( 0.5625rem , 0.3201754386rem  +  1.1403508772vw , 1.375rem )) {
    .decor_swet2 {
      height: calc(0.5625rem + 0.8125 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (width: clamp( 0.5625rem , 0.3201754386rem  +  1.1403508772vw , 1.375rem )) {
    .decor_swet2 {
      width: clamp( 0.5625rem , 0.3201754386rem  +  1.1403508772vw , 1.375rem );
    }
}

@supports not (width: clamp( 0.5625rem , 0.3201754386rem  +  1.1403508772vw , 1.375rem )) {
    .decor_swet2 {
      width: calc(0.5625rem + 0.8125 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (height: clamp( 0.4375rem , 0.2138157895rem  +  1.0526315789vw , 1.1875rem )) {
    .decor_swet3 {
      height: clamp( 0.4375rem , 0.2138157895rem  +  1.0526315789vw , 1.1875rem );
    }
}

@supports not (height: clamp( 0.4375rem , 0.2138157895rem  +  1.0526315789vw , 1.1875rem )) {
    .decor_swet3 {
      height: calc(0.4375rem + 0.75 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (width: clamp( 0.4375rem , 0.2138157895rem  +  1.0526315789vw , 1.1875rem )) {
    .decor_swet3 {
      width: clamp( 0.4375rem , 0.2138157895rem  +  1.0526315789vw , 1.1875rem );
    }
}

@supports not (width: clamp( 0.4375rem , 0.2138157895rem  +  1.0526315789vw , 1.1875rem )) {
    .decor_swet3 {
      width: calc(0.4375rem + 0.75 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (height: clamp( 0.625rem , 0.4013157895rem  +  1.0526315789vw , 1.375rem )) {
    .decor_swet4 {
      height: clamp( 0.625rem , 0.4013157895rem  +  1.0526315789vw , 1.375rem );
    }
}

@supports not (height: clamp( 0.625rem , 0.4013157895rem  +  1.0526315789vw , 1.375rem )) {
    .decor_swet4 {
      height: calc(0.625rem + 0.75 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (width: clamp( 0.625rem , 0.4013157895rem  +  1.0526315789vw , 1.375rem )) {
    .decor_swet4 {
      width: clamp( 0.625rem , 0.4013157895rem  +  1.0526315789vw , 1.375rem );
    }
}

@supports not (width: clamp( 0.625rem , 0.4013157895rem  +  1.0526315789vw , 1.375rem )) {
    .decor_swet4 {
      width: calc(0.625rem + 0.75 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (height: clamp( 0.625rem , 0.4945175439rem  +  0.6140350877vw , 1.0625rem )) {
    .decor_swet5 {
      height: clamp( 0.625rem , 0.4945175439rem  +  0.6140350877vw , 1.0625rem );
    }
}

@supports not (height: clamp( 0.625rem , 0.4945175439rem  +  0.6140350877vw , 1.0625rem )) {
    .decor_swet5 {
      height: calc(0.625rem + 0.4375 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (width: clamp( 0.625rem , 0.4945175439rem  +  0.6140350877vw , 1.0625rem )) {
    .decor_swet5 {
      width: clamp( 0.625rem , 0.4945175439rem  +  0.6140350877vw , 1.0625rem );
    }
}

@supports not (width: clamp( 0.625rem , 0.4945175439rem  +  0.6140350877vw , 1.0625rem )) {
    .decor_swet5 {
      width: calc(0.625rem + 0.4375 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.8004385965rem  +  9.649122807vw , 8.125rem )) {
    .main__content {
      padding-top: clamp( 1.25rem , -0.8004385965rem  +  9.649122807vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.8004385965rem  +  9.649122807vw , 8.125rem )) {
    .main__content {
      padding-top: calc(1.25rem + 6.875 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (padding: clamp( 1.875rem , 1.3157894737rem  +  2.6315789474vw , 3.75rem )) {
    .skills {
      padding: clamp( 1.875rem , 1.3157894737rem  +  2.6315789474vw , 3.75rem );
    }
}

@supports not (padding: clamp( 1.875rem , 1.3157894737rem  +  2.6315789474vw , 3.75rem )) {
    .skills {
      padding: calc(1.875rem + 1.875 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem )) {
    .way__container {
      padding-top: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem )) {
    .way__container {
      padding-top: calc(2.5rem + 1.25 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem )) {
    .way__container {
      padding-bottom: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem )) {
    .way__container {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (left: clamp( 1.875rem , -0.3618421053rem  +  10.5263157895vw , 9.375rem )) {
    .experience__arrow_left {
      left: clamp( 1.875rem , -0.3618421053rem  +  10.5263157895vw , 9.375rem );
    }
}

@supports not (left: clamp( 1.875rem , -0.3618421053rem  +  10.5263157895vw , 9.375rem )) {
    .experience__arrow_left {
      left: calc(1.875rem + 7.5 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (right: clamp( 1.875rem , -0.3618421053rem  +  10.5263157895vw , 9.375rem )) {
    .experience__arrow_right {
      right: clamp( 1.875rem , -0.3618421053rem  +  10.5263157895vw , 9.375rem );
    }
}

@supports not (right: clamp( 1.875rem , -0.3618421053rem  +  10.5263157895vw , 9.375rem )) {
    .experience__arrow_right {
      right: calc(1.875rem + 7.5 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.2828947368rem  +  1.3157894737vw , 2.5rem )) {
    .slide-experience__work {
      font-size: clamp( 1.5625rem , 1.2828947368rem  +  1.3157894737vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.2828947368rem  +  1.3157894737vw , 2.5rem )) {
    .slide-experience__work {
      font-size: calc(1.5625rem + 0.9375 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.3815789474rem  +  5.2631578947vw , 6.25rem )) {
    .project {
      padding-bottom: clamp( 2.5rem , 1.3815789474rem  +  5.2631578947vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.3815789474rem  +  5.2631578947vw , 6.25rem )) {
    .project {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem )) {
    .project__container {
      padding-top: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem )) {
    .project__container {
      padding-top: calc(2.5rem + 1.25 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem )) {
    .project__container {
      padding-bottom: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.1271929825rem  +  1.7543859649vw , 3.75rem )) {
    .project__container {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.2828947368rem  +  1.3157894737vw , 2.5rem )) {
    .project__title {
      font-size: clamp( 1.5625rem , 1.2828947368rem  +  1.3157894737vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.2828947368rem  +  1.3157894737vw , 2.5rem )) {
    .project__title {
      font-size: calc(1.5625rem + 0.9375 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1567982456rem  +  0.4385964912vw , 1.5625rem )) {
    .my-project__title {
      font-size: clamp( 1.25rem , 1.1567982456rem  +  0.4385964912vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1567982456rem  +  0.4385964912vw , 1.5625rem )) {
    .my-project__title {
      font-size: calc(1.25rem + 0.3125 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9945175439rem  +  0.6140350877vw , 1.5625rem )) {
    .body-project__title {
      font-size: clamp( 1.125rem , 0.9945175439rem  +  0.6140350877vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9945175439rem  +  0.6140350877vw , 1.5625rem )) {
    .body-project__title {
      font-size: calc(1.125rem + 0.4375 * (100vw - 21.25rem) / 71.25);
    }
}
}

@media (min-width: 50em) and (max-width: 92.5em) {
@supports (gap: clamp( 1.875rem , -10.625rem  +  25vw , 12.5rem )) {
    .main__content {
      gap: clamp( 1.875rem , -10.625rem  +  25vw , 12.5rem );
    }
}

@supports not (gap: clamp( 1.875rem , -10.625rem  +  25vw , 12.5rem )) {
    .main__content {
      gap: calc(1.875rem + 10.625 * (100vw - 50rem) / 42.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -3.1617647059rem  +  8.8235294118vw , 5rem )) {
    .main__content {
      padding-bottom: clamp( 1.25rem , -3.1617647059rem  +  8.8235294118vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -3.1617647059rem  +  8.8235294118vw , 5rem )) {
    .main__content {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 50rem) / 42.5);
    }
}

@supports (padding-left: clamp( 0.625rem , -3.0514705882rem  +  7.3529411765vw , 3.75rem )) {
    .skills__container {
      padding-left: clamp( 0.625rem , -3.0514705882rem  +  7.3529411765vw , 3.75rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -3.0514705882rem  +  7.3529411765vw , 3.75rem )) {
    .skills__container {
      padding-left: calc(0.625rem + 3.125 * (100vw - 50rem) / 42.5);
    }
}

@supports (padding-top: clamp( 1.875rem , -3.2720588235rem  +  10.2941176471vw , 6.25rem )) {
    .way {
      padding-top: clamp( 1.875rem , -3.2720588235rem  +  10.2941176471vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -3.2720588235rem  +  10.2941176471vw , 6.25rem )) {
    .way {
      padding-top: calc(1.875rem + 4.375 * (100vw - 50rem) / 42.5);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.8088235294rem  +  5.8823529412vw , 6.25rem )) {
    .way {
      padding-bottom: clamp( 3.75rem , 0.8088235294rem  +  5.8823529412vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.8088235294rem  +  5.8823529412vw , 6.25rem )) {
    .way {
      padding-bottom: calc(3.75rem + 2.5 * (100vw - 50rem) / 42.5);
    }
}

@supports (gap: clamp( 1.875rem , -10.625rem  +  25vw , 12.5rem )) {
    .way__container {
      gap: clamp( 1.875rem , -10.625rem  +  25vw , 12.5rem );
    }
}

@supports not (gap: clamp( 1.875rem , -10.625rem  +  25vw , 12.5rem )) {
    .way__container {
      gap: calc(1.875rem + 10.625 * (100vw - 50rem) / 42.5);
    }
}

@supports (width: clamp( 21.875rem , 3.4926470588rem  +  36.7647058824vw , 37.5rem )) {
    .box {
      width: clamp( 21.875rem , 3.4926470588rem  +  36.7647058824vw , 37.5rem );
    }
}

@supports not (width: clamp( 21.875rem , 3.4926470588rem  +  36.7647058824vw , 37.5rem )) {
    .box {
      width: calc(21.875rem + 15.625 * (100vw - 50rem) / 42.5);
    }
}

@supports (height: clamp( 12.5rem , -2.2058823529rem  +  29.4117647059vw , 25rem )) {
    .box {
      height: clamp( 12.5rem , -2.2058823529rem  +  29.4117647059vw , 25rem );
    }
}

@supports not (height: clamp( 12.5rem , -2.2058823529rem  +  29.4117647059vw , 25rem )) {
    .box {
      height: calc(12.5rem + 12.5 * (100vw - 50rem) / 42.5);
    }
}

@supports (width: clamp( 21.875rem , 3.4926470588rem  +  36.7647058824vw , 37.5rem )) {
    .img-box__front {
      width: clamp( 21.875rem , 3.4926470588rem  +  36.7647058824vw , 37.5rem );
    }
}

@supports not (width: clamp( 21.875rem , 3.4926470588rem  +  36.7647058824vw , 37.5rem )) {
    .img-box__front {
      width: calc(21.875rem + 15.625 * (100vw - 50rem) / 42.5);
    }
}

@supports (height: clamp( 12.5rem , -2.2058823529rem  +  29.4117647059vw , 25rem )) {
    .img-box__front {
      height: clamp( 12.5rem , -2.2058823529rem  +  29.4117647059vw , 25rem );
    }
}

@supports not (height: clamp( 12.5rem , -2.2058823529rem  +  29.4117647059vw , 25rem )) {
    .img-box__front {
      height: calc(12.5rem + 12.5 * (100vw - 50rem) / 42.5);
    }
}

@supports (width: clamp( 21.875rem , 3.4926470588rem  +  36.7647058824vw , 37.5rem )) {
    .img-box__back {
      width: clamp( 21.875rem , 3.4926470588rem  +  36.7647058824vw , 37.5rem );
    }
}

@supports not (width: clamp( 21.875rem , 3.4926470588rem  +  36.7647058824vw , 37.5rem )) {
    .img-box__back {
      width: calc(21.875rem + 15.625 * (100vw - 50rem) / 42.5);
    }
}

@supports (height: clamp( 12.5rem , -2.2058823529rem  +  29.4117647059vw , 25rem )) {
    .img-box__back {
      height: clamp( 12.5rem , -2.2058823529rem  +  29.4117647059vw , 25rem );
    }
}

@supports not (height: clamp( 12.5rem , -2.2058823529rem  +  29.4117647059vw , 25rem )) {
    .img-box__back {
      height: calc(12.5rem + 12.5 * (100vw - 50rem) / 42.5);
    }
}

@supports (padding-top: clamp( 5rem , 3.5294117647rem  +  2.9411764706vw , 6.25rem )) {
    .experience {
      padding-top: clamp( 5rem , 3.5294117647rem  +  2.9411764706vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.5294117647rem  +  2.9411764706vw , 6.25rem )) {
    .experience {
      padding-top: calc(5rem + 1.25 * (100vw - 50rem) / 42.5);
    }
}

@supports (padding-bottom: clamp( 5rem , 3.5294117647rem  +  2.9411764706vw , 6.25rem )) {
    .experience {
      padding-bottom: clamp( 5rem , 3.5294117647rem  +  2.9411764706vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 3.5294117647rem  +  2.9411764706vw , 6.25rem )) {
    .experience {
      padding-bottom: calc(5rem + 1.25 * (100vw - 50rem) / 42.5);
    }
}

@supports (padding-top: clamp( 1.875rem , -3.2720588235rem  +  10.2941176471vw , 6.25rem )) {
    .project {
      padding-top: clamp( 1.875rem , -3.2720588235rem  +  10.2941176471vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -3.2720588235rem  +  10.2941176471vw , 6.25rem )) {
    .project {
      padding-top: calc(1.875rem + 4.375 * (100vw - 50rem) / 42.5);
    }
}
}

@media (max-width: 29.99875em) and (min-width: 92.5em) {
  .main__body {
    min-width: 43.75rem;
  }
}

@media (max-width: 29.99875em) and (min-width: 21.25em) and (max-width: 92.5em) {
@supports (min-width: clamp( 12.5rem , 3.1798245614rem  +  43.8596491228vw , 43.75rem )) {
    .main__body {
      min-width: clamp( 12.5rem , 3.1798245614rem  +  43.8596491228vw , 43.75rem );
    }
}

@supports not (min-width: clamp( 12.5rem , 3.1798245614rem  +  43.8596491228vw , 43.75rem )) {
    .main__body {
      min-width: calc(12.5rem + 31.25 * (100vw - 21.25rem) / 71.25);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 92.5em) {
  .main__img {
    min-width: 15rem;
  }

  .main__img {
    height: 21.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 21.25em) and (max-width: 92.5em) {
@supports (min-width: clamp( 5.625rem , 2.8289473684rem  +  13.1578947368vw , 15rem )) {
    .main__img {
      min-width: clamp( 5.625rem , 2.8289473684rem  +  13.1578947368vw , 15rem );
    }
}

@supports not (min-width: clamp( 5.625rem , 2.8289473684rem  +  13.1578947368vw , 15rem )) {
    .main__img {
      min-width: calc(5.625rem + 9.375 * (100vw - 21.25rem) / 71.25);
    }
}

@supports (height: clamp( 11.25rem , 8.0811403509rem  +  14.9122807018vw , 21.875rem )) {
    .main__img {
      height: clamp( 11.25rem , 8.0811403509rem  +  14.9122807018vw , 21.875rem );
    }
}

@supports not (height: clamp( 11.25rem , 8.0811403509rem  +  14.9122807018vw , 21.875rem )) {
    .main__img {
      height: calc(11.25rem + 10.625 * (100vw - 21.25rem) / 71.25);
    }
}
}

@media (min-width: 68.75em) and (max-width: 92.5em) {
@supports (gap: clamp( 0.625rem , -15.6578947368rem  +  23.6842105263vw , 6.25rem )) {
    .skills__body {
      gap: clamp( 0.625rem , -15.6578947368rem  +  23.6842105263vw , 6.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , -15.6578947368rem  +  23.6842105263vw , 6.25rem )) {
    .skills__body {
      gap: calc(0.625rem + 5.625 * (100vw - 68.75rem) / 23.75);
    }
}
}